[submodule "manuscript/myst"]
	path = paper/myst
	url = git@github.com:courtois-neuromod/hcptrt.paper.myst
[submodule "sourcedata/hcptrt.all"]
	path = sourcedata/hcptrt.all
	url = git@github.com:courtois-neuromod/hcptrt.all
